@font-face {
font-family: "SansitaSwashed";
src: url("../fonts/SansitaSwashed-VariableFont_wght.ttf") format("truetype");
}
@font-face {
font-family: "Montserrat Bold";
src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
font-family: "Montserrat ExtraBold";
src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
font-family: "Montserrat Black";
src: url("../fonts/Montserrat-Black.ttf") format("truetype");
}
@font-face {
font-family: "Montserrat Medium";
src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
font-family: "Montserrat Semibold";
src: url("../fonts/Montserrat-Semibold.ttf") format("truetype");
}
html{
  background-color: #F9F8F7;
  margin:0;
  color: #54575a;

}
body{
  font-family: "Trebuchet MS", sans-serif;
  margin:0;


}
p {
  font-family: Verdana, sans-serif;
  padding: 10px
}

nav{
  margin:0;
  font-size:  20px;
  font-weight: normal;
  font-family: "Montserrat Bold",Verdana,sans-serif;
  padding-top: 15px;
  padding-bottom: 20px;

}
nav a{
  text-decoration: none;
}
nav ul{
  list-style-type: none;
  padding: 10px;
  margin:0;
  color:#54575a;
}
h1{
  background: #ffffff;
  font-family: "SansitaSwashed", cursive;
  color:#54575a;
  font-size: 30px;
  margin:0;
}
h2{
  font-family: "Montserrat Semibold", "Trebuchet MS", sans-serif;
  font-size: 30px;
  padding-left: 10px;
  margin:0;
  padding-bottom: 0px;
}
footer{
  padding: 10px;
  margin:0;
  background:  #ffffff;
  text-align: right;
  color: #54575a;
}
a{
  text-decoration: none;
  color: inherit;
}
main{
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}
div{
  margin:0px;
  padding:0px;
}
/* Classes*/
/* Top classes */
.head {
  background:#ffffff;
  color:#54575a;
  padding-top:20px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 100%;
  -moz-box-shadow: inset 0 0 3px #c9c9c9;
  -webkit-box-shadow: inset 0 0 3px #c9c9c9;
  box-shadow: inset 0 0 3px #c9c9c9;
}
.home h1{
  font-size: 40px;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}
.horizontal{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.horizontal h1{
  flex:2;
}
.head a:hover{
  color: #ff8f3e;
}
.horizontal nav {
  flex:auto;
  margin-top:0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-right: 20px;
}

.horizontal ul {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.horizontal nav li {
   display: inline-block;
   flex:1;
}


.introduction_menu{
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  background:  inherit;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 20px;
}

nav.vert{
  text-align: center;
  flex:auto;

}
nav.vert ul {
display: flex;
flex-direction: column;
color: #ffffff;
 margin-left: 30px;
 height: 9em;
border-radius:  80px 0px 80px 0px ;
-webkit-border-radius: 80px 0px 80px 0px ;
-moz-border-radius: 80px 0px 80px 0px ;
background:#27363B;
min-width: 150px;

}
nav.vert li{
  padding-top: 5px;
  flex: auto;
}
nav.vert a:hover{
  color: #EFA618;
}

.about{
  flex:2;
  border-radius: 0px 80px 0px 40px;
  -webkit-border-radius: 0px 80px 0px 40px;
  -moz-border-radius: 0px 80px 0px 40px;
  background:#F4837D;
  color:#ffffff;
  margin-bottom: 20px;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;

}
.about h2{

  padding-top: 10px;
  padding-left:5px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 0px;
  text-align: right;
  margin-right: 50px;
}
.about .about_body{
  margin:0px;
  padding-bottom: 5px !important;
  background: #EB4960;
  border-top: 4px solid #e0b8d5;
  border-radius:  0px 80px 0px 40px;
  -webkit-border-radius:  0px 80px 0px 40px;
  -moz-border-radius:  0px 80px 0px 40px;
}
.about_body p{
  margin: 15px;
}
/* Photo blog specific classes */
.blog_short{
  margin-top: 10px;
  padding: 5px;
  max-width: 800px;
  margin-left:auto;
  margin-right: auto;
  border-radius: 40px 90px 0px 40px;
  -webkit-border-radius: 40px 90px 0px 40px;
  -moz-border-radius: 40px 90px 0px 40px;
  background:#99B998;
  color: white;
}
.blog_short h2{
  color: #373737;
  padding-top: 20px;
  padding-left: 20px;
  font-family: sans-serif;
}
figure img{
  margin-left: auto;
  margin-right: auto;
}
figcaption{
  border-radius: 20px 20px 20px 20px;
  -webkit-border-radius:  20px 20px 20px 20px;
  -moz-border-radius:  20px 20px 20px 20px;
  padding: 5px;
  background:#27363B;
  color: white;
}
.blog_short footer{
  background: inherit;
}

/* AMA specific classes */
.FAQ{
  max-width: 1000px;
  margin-left:auto;
  margin-right: auto;
  border-radius: 40px 90px 0px 40px;
  -webkit-border-radius: 40px 90px 0px 40px;
  -moz-border-radius: 40px 90px 0px 40px;
  background:#f49200;
  color: white;

}
.FAQ h2{
  text-align: center;
  padding-top: 10px;
}
dl.qa{
  border-radius: 0px 90px 0px 40px;
  -webkit-border-radius: 0px 90px 0px 40px;
  -moz-border-radius: 0px 90px 0px 40px;
  background:#735C56;
  padding: 20px;
  padding-left: 10px;
}
dl.qa dt{
  font-family: "Montserrat-Semibold", Tahoma, sans-serif;
  margin-top: 20px;
  font-size: 20px;
}

dl.qa dd{
  font-family: "Montserrat-Medium", Tahoma, sans-serif;
  margin-top: 18px;
}
